@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Outfit;
    box-sizing: border-box;
}

p {
    font-size: 15px;
}

img {
    border-radius: 16px;
    width: 100%;
    height: auto;
}

.container {
    background-color: hsl(212, 45%, 89%);
    padding: 128px 0;
    margin: 64px 32px;
    box-shadow: 5px 5px 50px black;
}
.wrapper {
    background-color: #fff;
    border-radius: 16px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: auto;
    text-align: center;
    /* add some centering for this wrapper*/
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/*testing*/